#print-this{
  direction: ltr !important;
}
.print-header 
{
  img{
    margin: 5px !important;
  }
  .vx-logo-text{
    margin-right: 20px !important; 
    margin-left: 20px !important;
    color: #EA5455 !important;
    font-size: 18px !important;
    // text-align: left !important;
    font-weight: 600 !important;
  }
}
body {
  -webkit-print-color-adjust: exact !important;
}
// .project-view-header{
//   background-color: #f3f5f7 !important;
//   border-color: #42b983 !important;
//   padding: 1rem 0 !important;
//   border-right-width:0.6rem !important;
//   border-right-style: solid !important;
//   margin: 1rem 0 !important;

// }
// .echarts{
//   width: 100% !important;
// }

// .items-center {
//   align-items: center !important;
// }
// .mr-4 {
//   margin-right: 1rem !important;
// }
// .flex {
//   display: flex !important;
// }
// .vx-logo img{
//   margin: 1rem !important;
// }